*
{
    margin: 0%;
    padding: 0%;


    
}
body
{
    color: black;
    background: turquoise;
font-style:italic;
font-size: xx-large;

}
header
{
    

    display: flex;
    justify-content: space-between;
    justify-items: auto;
    color: rgb(202, 17, 17);
    align-self: top;
    align-content: space-between 20px;
    text-align: center;
    font-weight: 900;
    font-size:larger
    height: 80px;
    width: 100%;
    background-color:turqoise
    
    
}

.nav
{
    font-size: larger;
    list-style: none;
    margin: 10px;
    color: #333;
    font-weight: 800;
    
}
.animado
{
    font-size: 60px;
    color: black;
    -webkit-box-reflect:
    below -20px
    linear-gradient(transparent, rgba(0,0,0,0,2));
}
.animado span
{
    font-family: "Alfa Slab One", cursive;
    display:inline-block;
    animation:wave-anim 1s infinite;
    animation-delay:calc(0.1s * var(--item));
}
@keyframes wave-anim
{
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}


.titulo
{
    display: grid;
    float: left;
    text-align: center;
    background-color: rgb(178, 53, 178);
    width: 100%;
    height: 1000px;
    border-bottom: 1px solid powderblue;
}

.card
{
    height: 230px;
    width: 230px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;

}

.card-image
{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .75s;

}
.card:hover .card-image
{
    
    transform: scale(1.30);
}
aside

{
    align-items: center;
    text-align: center;
    list-style: none;
    background: purple;
    width: 100%;
    float: right;
    border-bottom: 1px solid purple;
}


.flex-container
{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-flow: dense;
    justify-content: space-evenly;
    background-color: rgb(178, 53, 178);
    

}

.flex-container img
{
    width: 100%;
    height: 100%;

    
}



.clearfix
{
    clear: both;

}
footer
{
    display: bottom

    height: 60px;
    font-size: larger;
    font-weight: 700;
    background: rgb(86, 64, 107);
}

.logo img
{
    width: 175px;
    height: 80px;
    float: left;
    
}

.smcontainer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    text-align: right;
}
.smcontainer .btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #fff;
    box-shadow: 0 5px 15px -5px #aaa;
    margin: 10px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;
}
.smcontainer .btn .i{
    position: relative;
    z-index: 4;
    line-height: 90px;
    font-size: 26px;
    transition: 0.3s ease-in-out;
}

.smcontainer .btn::before
{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(#00c6ff #0072ff);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;

}

.smcontainer .btn:hover
{
    color: #fff;
    transform: scale(1.3);
}

.smcontainer .btn:hover::before{


animation:onHover 0.7s 1;
left: -10%;
top: -10%;
}

@keyframes onhover {
0% {
    left: -110%;
    top: 90%;
}
50%
{
    left: 10%;
    top: -30%;
}
100%{
    left: -10%;
    top: -10%;
}
}
