
*{
    margin: 0%;
    padding: 0%;
}
body{
    color: rgb(143, 202, 202);
    background-color: antiquewhite;




}
header
{
   

    display: flex;
    justify-content: space-between;
    justify-items: auto;
    color: rgb(202, 17, 17);
    align-self: top;
    align-content: space-between 20px;
    text-align: center;
    font-weight: 900;
    font-size:larger;
    heigth: 80px;
    width: 100%;
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
    margin bottom: 20px;
    padding bottom:20px;
   


   

}
h1{
    font-size: 72px;
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img
{
    width: 175px;
    height: 80px;
    float: left;
   
}

.menu-button {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 36px;
    padding: 10px;
    border-radius: 7px;
    background: #0a66c3;
    cursor: pointer;
}
.menu-button span{
    width: 40px;
    height: 4px;
    background: whitesmoke;
}
.menu-toggle {
    display: none;
}
.toggle{
    display: none;
    text-align: center;
    background: #0a66c3;
    border-radius: 7px;
    padding: 20px;
    width: 150px;
    margin: 10px auto;

}
.toggle li{
    list-style: none;
    display: block;
    padding: 10px 0;
    color: #fafafa;
}
.menu-toggle:checked + .toggle{
    display: block;
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
   
}
.texto-0{
  font-size: 45px;
  color: aliceblue;
}
.div-transform{
    display: flex;
    transform:rotateX(10deg) rotateY(15deg) scale3d(1,1,-0.9) scale(1.1) translateX(50px);
}
.card{
    background: url(img/image.jpg) center;
    color: #ebdada;
  border-radius: 8px;
  padding: 0px 18px;
  width: 15rem;
  transition: 0.5s ease;
  overflow: hidden;
  transform: translate(0);


   
 
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.card h2 {
  text-transform: capitalize;
}

.card h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 48px;
}

.card-1 {
  background-size: cover;
  transform: scale(1.02);
  margin-right: 40px;
}

.card-1:hover {
  transform: scale(1.11);
  box-shadow: -7px 4px 28px -3px #b527cf;
}

.card-1::before {
  background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
}

.card-2 {
  background-size: cover;
  transform: scale(1.01);
  margin-right: 31px;
}

.card-2:hover {
  transform: scale(1.1);
  box-shadow: -7px 4px 28px -3px #3bd9d9;
}

.card-2::before {
  background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
}

.card-3 {
  background-size: cover;
}

.card-3:hover {
  transform: scale(1.08);
  box-shadow: -7px 4px 28px -3px #ff9500;
}

.card-3::before {
  background: linear-gradient(90deg, #ff9500 0%, #d5cb0f 100%);
}

.gallery {
    position: relative;
    width: 280px;
    height: 180px;
    transform-style: preserve-3d;
    animation: rotate 35s linear infinite;
    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;


  }
 
  @keyframes rotate {
    from {
      transform: perspective(1200px) rotateY(0deg);
    }
 
    to {
      transform: perspective(1200px) rotateY(360deg);
    }
  }
 
  .gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
 
  .gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .introduccion{
         background-image: url(img/gim11.jpg);
        height: 750px;
        width: 100%;
        text-align: center;

    }
    .contenedorg{
        display: grid;
        place-items: center;
        height: 300px;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .social-icons li {
        margin: 0 10px;
    }

    .social-icons li a {
        font-size: 30px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        position: relative;
        transition: 0.5s ease;
    }

    .social-icons li a:hover {
        background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 40px;
    }

    .social-icons li a::before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
        transform: scale(1);
        transition: 0.5s ease-in-out;
    }

    .social-icons li a:hover::before {
        transform: scale(0);}

        .flip-card {
          background-color: transparent;
          width: 650px;
          height: 500px;
          perspective: 1000px;
       
       
        }
        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;
        }
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
        .flip-card-front,
        .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-radius: 16px;
        }
        .flip-texto{
          font-size: 35px;
        }
        .flip-texto2{
          font-size: 30px;
        }
        .flip-texto3{
          font-size: 30px;
        }
        .flip-card-front {
          background-image: linear-gradient(45deg, #6f04d9, #d9048e);
        }
        .flip-card-front img {
          width: 300px;
          margin-top: 1rem;
        }
        .flip-card-back {
          background-image: linear-gradient(315deg, #6f04d9, #8a045c);
          color: #ffffff;
          transform: rotateY(180deg);
        }
        .flip-card-back img {
          width: 260px;
          margin-top: 1rem;
        }
        .flip-card-back h3 {
          margin-bottom: 0.3rem;
        }
        .flip-card-back h1 {
          margin: 0;
        }
        .separacion{
        display: flex;
        justify-content: space-between;
        height: 80px;
        font-size: 60px;
        font-weight: 700;
        background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
        justify-content: center;
    }
        footer{
          display: flex;
          justify-content: space-between;
          height: 80px;
          font-size: 40px;
          font-weight: 700;
          background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
          margin-top: 80px;
      }
.nav{
  flex-direction:column;
  
}

   
    @media screen and (max-width:980px) {
        .div-transform {
       display: grid ;}
    }
       
    @media screen and (max-width: 767px) {
      .flip-card {
        width: 400px;
        height: 380px;
      }
    }
     
   @media screen and (max-width: 767px) {
    .separacion {
      font-size: 30px;
  
    }
   }
   
   @media screen and (max-width:767px) {
    .flip-texto {
      font-size: 15px;}
      .flip-texto2{
        font-size: 15px;}
        .flip-texto3{
          font-size: 15px;}
          .nav{
            font-size: 20px;}
            .gallery{
              height: 120px;
              width: 200px;
            }
   }
    
   
   
       
       
   
