
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: rgb(143, 202, 202);
    background: #131315;
    font-family: var(--font-style);




}
header
{
   

    display: flex;
    justify-content: space-between;
    color: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
    text-align: center;
    font-weight: 900;
    font-size:larger;
    heigth: 80px;
    width: 100%;
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
    margin bottom: 20px;
    padding bottom:20px;
  
    
  }

h1{
    font-size: 72px;
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img
{
    width: 190px;
    height: 80px;
    float: left;
   
}

.menu-button {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 46px;
    padding: 10px;
    border-radius: 7px;
    background: #0a66c3;
    cursor: pointer;
    margin-right: 40px;
}
.menu-button span{
    width: 40px;
    height: 4px;
    background: whitesmoke;
    
}
.menu-toggle {
    display: none;
}
.toggle{
    display: none;
    text-align: center;
    background: #0a66c3;
    border-radius: 7px;
    padding: 20px;
    width: 150px;
    margin: 20px auto;
    margin-right: 20px;

}
.toggle li{
    list-style: none;
    display: block;
    padding: 10px 0;
    color: #fafafa;
}
.menu-toggle:checked + .toggle{
    display: block;}
      
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
    margin-top: 20px;
   
}
.texto-0{
  font-size: 45px;
  color: aliceblue;
}
.div-transform{
    display: flex;
    transform:rotateX(10deg) rotateY(15deg) scale3d(1,1,-0.9) scale(1.1) translateX(50px);
    margin-top: 20px;
}
.card{
    background: url(img/image.jpg) center;
    color: #ebdada;
  border-radius: 8px;
  padding: 0px 18px;
  width: 15rem;
  transition: 0.5s ease;
  overflow: hidden;
  transform: translate(0);
  margin-top: 20px;


   
 
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.card h2 {
  text-transform: capitalize;
}

.card h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 48px;
}

.card-1 {
  background-size: cover;
  transform: scale(1.02);
  margin-right: 40px;
}

.card-1:hover {
  transform: scale(1.11);
  box-shadow: -7px 4px 28px -3px #b527cf;
}

.card-1::before {
  background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
}

.card-2 {
  background-size: cover;
  transform: scale(1.01);
  margin-right: 31px;
}

.card-2:hover {
  transform: scale(1.1);
  box-shadow: -7px 4px 28px -3px #3bd9d9;
}

.card-2::before {
  background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
}

.card-3 {
  background-size: cover;
}

.card-3:hover {
  transform: scale(1.08);
  box-shadow: -7px 4px 28px -3px #ff9500;
}

.card-3::before {
  background: linear-gradient(90deg, #ff9500 0%, #d5cb0f 100%);
}

.gallery {
    position: relative;
    width: 280px;
    height: 180px;
    transform-style: preserve-3d;
    animation: rotate 35s linear infinite;
    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;


  }
 
  @keyframes rotate {
    from {
      transform: perspective(1200px) rotateY(0deg);
    }
 
    to {
      transform: perspective(1200px) rotateY(360deg);
    }
  }
 
  .gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
 
  .gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .introduccion{
         background-image: url(img/gim11.jpg);
        height: 750px;
        width: 100%;
        text-align: center;

    }
    .contenedorg{
        display: grid;
        place-items: center;
        height: 300px;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .social-icons li {
        margin: 0 10px;
    }

    .social-icons li a {
        font-size: 30px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        position: relative;
        transition: 0.5s ease;
    }

    .social-icons li a:hover {
        background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 40px;
    }

    .social-icons li a::before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
        transform: scale(1);
        transition: 0.5s ease-in-out;
    }

    .social-icons li a:hover::before {
        transform: scale(0);}

        .flip-card {
          background-color: transparent;
          width: 650px;
          height: 500px;
          perspective: 1000px;
       
       
        }
        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;
        }
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
        .flip-card-front,
        .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-radius: 16px;
        }
        .flip-texto{
          font-size: 35px;
        }
        .flip-texto2{
          font-size: 30px;
        }
        .flip-texto3{
          font-size: 30px;
        }
        .flip-card-front {
          background-image: linear-gradient(45deg, #6f04d9, #d9048e);
        }
        .flip-card-front img {
          width: 300px;
          margin-top: 1rem;
        }
        .flip-card-back {
          background-image: linear-gradient(315deg, #6f04d9, #8a045c);
          color: #ffffff;
          transform: rotateY(180deg);
        }
        .flip-card-back img {
          width: 260px;
          margin-top: 1rem;
        }
        .flip-card-back h3 {
          margin-bottom: 0.3rem;
        }
        .flip-card-back h1 {
          margin: 0;
        }
        .separacion{
        display: flex;
        justify-content: space-between;
        height: 80px;
        font-size: 60px;
        font-weight: 700;
        background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
        justify-content: center;
    }
        footer{
          display: flex;
          justify-content: space-between;
          height: 80px;
          font-size: 40px;
          font-weight: 700;
          background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
          
      }
      #footer-i{
        margin-top: 140px;
      }
      #footer-l{
        margin-top: 600px;
      }
.
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
   --font-style: 'Nunito Sans', sans-serif;
}




.login-box {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: #242026;
   box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
   border-radius: 10px;
}

.login-box h2 {
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
}

.login-box .user-box input {
   position: relative;
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.login-box .user-box label {
   position: relative;
   left: 0;
   top: -60px;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
   top: -85px;
   left: 0;
   color: #8F7CEC;
   font-size: 12px;
}

#submit {
   padding: 10px 20px;
   color: #CBBDDB;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: .5s;
   letter-spacing: 4px;
   border: 1px solid #8F7CEC;
   margin: auto;
}

#submit:hover {
   background: #8F7CEC;
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
}

.button-form {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
}

#register {
   font-size: 14px;
   text-decoration: none;
   color: #CBBDDB;
   margin: auto;
   width: 60%;
   text-align: center;
}

#register a {
   margin: auto;
   color: #8F7CEC;
   text-decoration: none;}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
 :root {
    --font-style: 'Nunito Sans', sans-serif;
}


.container-c {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: #1A2929;
}

.container-c span{
  display:block;
  padding: 25px 80px;
}

button::before,
button::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #54E6E7;
}

span::before,
span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #54E6E7;
}

button:hover::before,
button:hover::after {
    width: 100%;
}

button:hover span::before,
button:hover span::after {
    height: 100%;
}

button::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

button span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

button::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

button span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
      
.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: antiquewhite;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}
.inputContenedor {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}


::placeholder {
  color: transparent;
}
.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: antiquewhite;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.submitb {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitb:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgb(77, 84, 212);
}
.input:focus {
  border: 2px solid rgb(40, 19, 146);
}
.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

        
      

   
    @media screen and (max-width:980px) {
        .div-transform {
       display: grid ;}
       .separacion{
        margin-bottom: 100px;
        margin-top: 100px;
       }
    }
       
    @media screen and (max-width: 767px) {
      .flip-card {
        width: 400px;
        height: 380px;
      }
    }
     
   @media screen and (max-width: 767px) {
    .separacion {
      font-size: 30px;
  
    }
   }
   
   @media screen and (max-width:767px) {
    .flip-texto {
      font-size: 15px;}
      .flip-texto2{
        font-size: 15px;}
        .flip-texto3{
          font-size: 15px;}
          .nav{
            font-size: 20px;}
            .gallery{
              height: 120px;
              width: 200px;}
              .introduccion{
                background-image: url(img/backgroundsmall2.jpg);}
                .container-c{
                  top: 85% }
                  .container-c span{
                    padding: 15px 40px;
                  }
                
   }
    
   
   
       
       
   
